.t3-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
  }
  .t3-table {

    padding: 10px;
    width: 90%;
    margin: 0 auto;
  }